<h2 class='ml-10 mt-5 text-2xl'>Available drones</h2>
<div class='ml-10 mt-5 container mx-auto w-72 shadow-xl'>
  {{#each this}}
    <div class='mt-2 ml-2 border-b-2 border-gray-600'>
      <h3><b>name: </b>{{name}}</h3>
      <h4><b>propelers: </b>{{propellers}}</h4>
      <h4><b>maxSpeed: </b>{{maxSpeed}} m/s</h4>

    </div>
  {{/each}}
</div>